.e {
	color: red;
}

.conservantu {
	color: #ff5900;
}

.antiacidantu {
	color: #ffc500;
}

.stabilizatoru {
	color: #e1ff00;
}

.red {
	color: red;
}

.green {
	color: #9ACD32;
}

.pink {
	color: pink;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.opasnuydlakoza {
	color: #f5e7ae;
}

.rak {
    color: maroon;
}

.emulgatoru {
	color: green;
}

.usilitelivkusa {
	color: springgreen;
}

.antibiotiki {
	color: #52ccbf;
}

.lime {
	color: #2e8b57;
}