.e {
	color: red;
}

.conservantu {
	color: #ff5900;
}

.antiacidantu {
	color: #ffc500;
}

.stabilizatoru {
	color: #e1ff00;
}

.red {
	color: red;
}

.green {
	color: lime;
}

.pink {
	color: pink;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.opasnuydlakoza {
	color: #f5e7ae;
}

.rak {
    color: #f54a5e;
}

.emulgatoru {
	color: green;
}
